<%-include('./header.ejs') %>
<!-- hero -->
<section id="hero">
  <!-- about intro start -->
  <div class="container">
    <div class="px-4 py-5 mt-5 text-center">
      <h1 class="display-5 fw-bold text-white text-shadow">Lets Learn About Us!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="text-light lead mb-4 text-shadow">
          Lakshmi Narayan College of Technology (LNCT) is a renowned institution
          known for its commitment to providing quality education in the field
          of technology and engineering. Founded with a vision to nurture future
          leaders and innovators, LNCT offers a comprehensive academic
          curriculum, state-of-the-art labs, extensive sports facilities, and
          robust placement opportunities.
        </p>
      </div>
    </div>
  </div>
  <!-- about intro end -->

  <!-- placements start -->
  <div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white text-shadow">PLACEMENTS</h1>
        <p class="lead text-light text-shadow">
          LNCT has a strong track record of placements with reputed companies
          both in India and abroad..
        </p>
        <p class="lead text-light text-shadow">
          The college has a dedicated placement cell that facilitates
          recruitment drives, campus interviews, and industry interactions.
        </p>
        <p class="lead text-light text-shadow">
          Students are provided with comprehensive training and preparation
          sessions to enhance their employability skills including aptitude,
          communication, and technical skills.
        </p>
        <p class="lead text-light text-shadow">
          Leading companies from diverse sectors such as IT, manufacturing,
          consulting, and finance regularly visit the campus for recruitment
          drives, offering lucrative job opportunities to the students.
        </p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="./Images/placements.avif"
          class="d-block mx-lg-auto img-fluid carousel-shadow"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <!-- placements end -->

  <!-- curriculum start -->
  <div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="./Images/curriculum.avif"
          class="d-block mx-lg-auto img-fluid carousel-shadow"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white text-shadow">CURRICULUM</h1>
        <p class="lead text-light text-shadow">
          LNCT offers a well-rounded curriculum designed to meet the evolving
          needs of the industry while also focusing on holistic development. The
          curriculum is regularly updated to incorporate the latest advancements
          in technology and industry trends.
        </p>
        <p class="lead text-light text-shadow">
          Emphasis is placed on practical learning through industry-relevant
          projects, workshops, and internships to ensure students are equipped
          with hands-on experience.
        </p>
        <p class="lead text-light text-shadow">
          The curriculum encompasses a broad range of subjects including core
          engineering disciplines, computer science, electronics, mechanical
          engineering, and more. updated to incorporate the latest advancements
          in technology and industry trends.
        </p>
      </div>
    </div>
  </div>
  <!-- curriculum end -->

  <!-- laboratories start -->
  <div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white text-shadow">LABORATORIES</h1>
        <p class="lead text-light text-shadow">
          LNCT boasts advanced laboratories equipped with modern equipment and
          tools necessary for practical learning and research.
        </p>
        <p class="lead text-light text-shadow">
          The labs are designed to facilitate experimentation and innovation
          across various disciplines.
        </p>
        <p class="lead text-light text-shadow">
          Students have access to cutting-edge technology and software to
          conduct experiments, simulations, and projects..
        </p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="./Images/laboratories.png"
          class="d-block mx-lg-auto img-fluid carousel-shadow"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <!-- laboratories end -->

  <!-- sport facilities start -->
  <div class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="./Images/sports.webp"
          class="d-block mx-lg-auto img-fluid carousel-shadow"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white text-shadow">
          SPORTS FACILITIES
        </h1>
        <p class="lead text-light text-shadow">
          LNCT recognizes the importance of sports in overall personality
          development and offers extensive sports facilities.
        </p>
        <p class="lead text-light text-shadow">
          The college has well-maintained grounds and facilities for various
          sports including cricket, football, basketball, volleyball, badminton,
          table tennis, and more.
        </p>
        <p class="lead text-light text-shadow">
          Trained coaches are available to mentor students and hone their skills
          in different sports.
        </p>
      </div>
    </div>
  </div>
  <!-- sport facilities end -->

</section>
<!-- End Hero -->

<%-include('./footer.ejs') %>
